%extendText {
  font-size: 1.8rem;
  font-weight: $fontWeightMedium;
  letter-spacing: -0.02em;
  line-height: 1;
  text-align: right;
  & > span {
    font-size: 65%;
    letter-spacing: initial;
    margin: 0 0 0 0.2em;
    text-transform: uppercase;
  }
}

.barChart {
  background-color: #EBEBEB;
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  margin: 2px 0 0 0;
  overflow: hidden;
  padding: 0 0.8rem 0 0;
  position: relative;
  width: 100%;
  & > p {
    @extend %extendText;
    color: $colorGray;
  }
  & > .barChartBar {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: left;
    &.data {
      background-image: linear-gradient(-270deg, #5F00A3 0%, #F000B4 100%);
    }
    &.talk {
      background-image: linear-gradient(-270deg, #068394 0%, #09E0A0 100%);
    }
    &.text {
      background-image: linear-gradient(-90deg, #00A1E0 0%, #0042AD 100%);
    }
    & > p {
      @extend %extendText;
      color: $colorWhite;
      padding: 0 0.8rem 0 0;
      transform-origin: right;
      text-transform: uppercase;
    }
  }
}
