%extendBlockText {
  color: $colorBlack;
  font-family: $fontBody;
  font-size: $fontH3;
  font-weight: $fontWeightRegular;
  margin: 0.6em 0 0 0;
}

.block {
  padding: 12px 10px;
  border-bottom: 1px solid $colorLightGray;
  .block {
    padding: 10px 0 8px 0;  // - To cater for 'BlockPlanInfo.js'
  }
  & > h3 {
    margin: 0.4em 0 0.1em 0;

  }
  &:last-of-type {
    border-bottom: 0;
  }
  @include desktop {
    padding: 2em 0em;
    // margin: 0 1.2em;
  }
}

.blockData {
  flex-direction: column;
  padding-bottom: 22px;
  & > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    & + div {
      margin: 1.6rem 0 0 0;
    }
    & h3 {
      flex: 1 0 calc(100% - 18px);
    }
  }
}

.blockFooter {
  align-items: flex-end;
  border-bottom: 4px solid $colorWhite;
  display: flex;
  flex-direction: column;
  padding: 1.6em 1em;
  &:last-of-type {
    border-bottom: 0;
  }
  & p {
    margin-right: auto;
    color: $colorWhite;
    display: inline-block;
    font-family: $fontBody;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 85%;
  }
  & .btnHover {
    @extend %extendBtnHover;
  }
  & .blockFooterBtn {
    @extend %extendBtn;
    background-color: $colorWhite;
    color: $colorMain;
    font-size: 1.2rem;
    font-weight: $fontWeightBold;
    letter-spacing: 0.02em;
    margin: 0.6em 0 0 0;
    padding: 0.3em 1.2em 0.2em 1.2em;
  }
  @include desktop {
    padding: 2em 1.4em;
    &:last-of-type {
      border-bottom: 4px solid $colorWhite;
    }
  }
}

.blockInfo {
  display: flex;
  flex-direction: column;
  & > div {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & h2 span {
    font-size: 65%;
    letter-spacing: initial;
    margin: 0 0 0 0.2em;
  }
  & .blockInfoBtn {
    @extend %extendBtnHover;
    @extend %extendBtn;
    background-color: $colorWhite;
    color: $colorMain;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: $fontWeightBold;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  & .blockInfoText {
    @extend %extendBlockText;
    margin: 0.6em 0 0 0;
    &:last-child {
      margin: 0.6em 0 0.3em 0;
    }
  }
}

.blockTextList {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      @extend %extendBlockText;
      margin: 0;
      padding: 0.2em 0 0 0;
      &:last-child {
        padding: 0.2em 0 0.4em 0;
      }
      & span.level1 {
        margin: 0 0.4em 0 0;
      }
      & span.level2 {
        margin: 0 0.4em 0 1em;
      }
    }
  }
}

.blockTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  & button {   
    @extend %extendBtnHover;
    @extend %extendBtn;
    background-color: $colorWhite;
  }
  & .fa-chevron-down {
    color: $colorMain;
    font-size: calc(#{$fontH2} * 0.8);
    margin: 0 2px 0 0;
  }
}