.block {
  padding: 18px 10px 14px 10px;
  border-bottom: 1px solid $colorLightGray;
}

.blockData {
  border: 1px dashed red;
}

.blockFooter {
  padding: 1.2em 1em;
  display: flex;
  flex-direction: column;
  & + .blockFooter {
    border-top: 4px solid $colorWhite;
  }
  & > p {
    color: $colorWhite;
    display: inline-block;
    font-family: $fontBody;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 85%;
  }
  & .blockFooterBtn {
    appearance: none;
    background-color: $colorWhite;
    border-radius: 10em;
    border: 0;
    color: $colorMain;
    font-family: $fontBody;
    font-size: 1.2rem;
    font-weight: $fontWeightMedium;
    letter-spacing: 0.02em;
    line-height: 1;
    margin: 0.6em 0 0 auto;
    padding: 0.3em 1.2em 0.2em 1.2em;
    & > i {
      font-size: 80%;
    }
  }
}

.blockInfo {
  display: flex;
  flex-direction: column;
  & > div {
    flex-wrap: wrap;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
  & h2 > span {
    font-size: 65%;
  }
  & .blockInfoBtn {
    appearance: none;
    border: 0;
    background-color: $colorWhite;
    color: $colorMain;
    font-family: $fontBody;
    font-size: 1.2rem;
    font-weight: $fontWeightMedium;
    letter-spacing: 0.02em;
    line-height: 1;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    & > i {
      font-size: 80%;
    }
  }
}

.blockTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  & > .fa-chevron-down {
    font-size: calc(#{$fontH2} * 0.8);
    margin: 0 2px 0 0;
  }
}