%extendBtn {
  appearance: none;
  border: 0;
  font-family: $fontBody;
  line-height: 1;
  & > i {
    font-size: 80%;
  }
}

.block {
  padding: 22px 10px 14px 10px;
  border-bottom: 1px solid $colorLightGray;
  &:last-of-type {
    border-bottom: 0;
  }
}

.blockData {
  padding-bottom: 22px;
  & > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > h3 {
      flex: 1 0 auto;
    }
  }
  & .blockDataBtn {
    @extend %extendBtn;
    background-color: $colorMain;
    border-radius: 500px;
    color: $colorWhite;
    font-weight: $fontWeightBold;
    height: 18px;
    padding: 2px 0 0 0;
    width: 18px;
  }
}

.blockFooter {
  border-bottom: 4px solid $colorWhite;
  display: flex;
  flex-direction: column;
  padding: 1.6em 1em;
  &:last-of-type {
    border-bottom: 0;
  }
  & > p {
    color: $colorWhite;
    display: inline-block;
    font-family: $fontBody;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 85%;
  }
  & .blockFooterBtn {
    @extend %extendBtn;
    background-color: $colorWhite;
    border-radius: 500px;
    color: $colorMain;
    font-size: 1.2rem;
    font-weight: $fontWeightMedium;
    letter-spacing: 0.02em;
    margin: 0.6em 0 0 auto;
    padding: 0.3em 1.2em 0.2em 1.2em;
  }
}

.blockInfo {
  display: flex;
  flex-direction: column;
  & > div {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & h2 > span {
    font-size: 65%;
  }
  & .blockInfoBtn {
    @extend %extendBtn;
    background-color: $colorWhite;
    color: $colorMain;
    font-size: 1.2rem;
    font-weight: $fontWeightMedium;
    letter-spacing: 0.02em;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
  }
}

.blockTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  & > .fa-chevron-down {
    font-size: calc(#{$fontH2} * 0.8);
    margin: 0 2px 0 0;
  }
}