// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto', sans-serif;
$fontHeader: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontBody: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontCondensed: "Roboto Condensed", "Arial Narrow", sans-serif;

$fontWeightRegular: 400;
$fontWeightMedium: 700;
$fontWeightBold: 900;

$fontP: 1.6rem;                     // BODY TEXT
$fontH1: calc(#{$fontP} * 4.48);    // PAGE BANNER
$fontH2: 2.8rem;                    // BLOCK TITLE
$fontH3: 1.4rem;                    // BLOCK SUBTITLE
$fontH4: calc(#{$fontP} * 1.83);    // ARTICLE MAIN HEADER
$fontH5: calc(#{$fontP} * 1.35);    // ARTICLE SUB HEADER
$fontH6: $fontP;                    // ARTICLE SECTION

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $colorBlack;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontHeader;
}

p, a {
  font-family: $fontBody;
}

h1 {
  font-size: $fontH1;
}

h2 {
  font-size: $fontH2;
  letter-spacing: -0.06rem;
  font-weight: $fontWeightMedium;
}

h3 {
  font-size: $fontH3;
  font-weight: $fontWeightRegular;
  text-transform: uppercase;
}

h4 {
  font-size: $fontH4;
}

h5 {
  font-size: $fontH5;
}

h6 {
  font-size: $fontH6;
  font-weight: bolder;
}

p {
  font-size: $fontP;
  line-height: 125%;
}

a {
  font-size: $fontP;
  &:visited, &:focus, &:active {
    color: $colorBlack;
    outline: none;
    text-decoration: none;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 66.5%;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    line-height: 130%;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 70.5%;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    line-height: 135%;
  }
}