.navTabs {
  display: flex;
  justify-content: space-between;
}

.navTab {
  background-color: #eeeeee;
  flex: 1 0 auto;
  max-width: calc(33.333333% - 0.4em);
  min-width: 100px;
  padding: 0.8em 0.6em 0.6em 0.6em;
  &:first-of-type {
    border-top-right-radius: 0.6em;
  }
  &:nth-of-type(2) {
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
  }
  &:last-of-type {
    border-top-left-radius: 0.6em;
  }
  & > p {
    color: #777777;
    font-family: $fontCondensed;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    line-height: 1;
    text-align: center;
  }
  &.active {
    background-color: $colorWhite;
    & > p {
      color: $colorSub;
    }
  }
}