@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';

@import '_header';
@import '_navTabs';
@import '_bodyUsage';
@import '_footer';

.app {
  background-image: linear-gradient(90deg, #FFAA21 0%, #ED6A1F 100%);
  min-width: 100vw;
  min-height: 100vh;
  @include tablet {
    flex-direction: initial;
  }
  @include desktop {
    flex-direction: initial;
  }
}
